*{
    margin: 0;
    padding: 0;

    
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-top: 0;
    border-radius: 15px;
}

.card{
    height: 65vh;
    width: 80vh;
    background-color: rgb(206, 198, 198);
    border-radius: 15px;

}

.infosCima{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 10vh;
   
}
input{
    width: 52vh;
    height: 5vh;
    border-radius: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
}

button{
    height: 5vh;
    width: 10vh;
    border-radius: 15px;
}

.adicionar:hover{
    background-color: green;
}

.sortear:hover{
    background-color: yellow;
}

.meio{
    background-color: white;
    height: 30vh;
    width: 65vh;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0 auto ;
    padding: 10px;
    max-height: 200px ;
    overflow-y: auto;
    width: 85%;
}

.meio ul {
    list-style-type: none; /* tira as bolinhas */
    padding: 0;
    margin: 0;
    text-align: left; 
    width: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
}

.meio li {
    margin: 5px 0; /* espaço entre os nomes */
}


.infosBaixo{
    display: flex;
    justify-content: center;
    margin: 10px;
}

.resultado{
    background-color:white ;
    min-height: 10vh;
    width: 70vh;
    margin: 0 auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    

  
}
